@charset "utf-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





 /*ここから*/
 /*ナビゲーション*/
nav {
    margin: 27px auto 0;
    position: relative;
   
    border-radius: 8px;
    font-size: 0;
    margin-left:0px;
    margin-top:0px;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 25px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: impact;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: rgb(255, 7, 7);
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #fffb00;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #34db66;
  }

  
  body {
    font-size: 12px;
    font-family: sans-serif;
    background: white;
  }
  h1 {
    text-align: left;
    margin: 40px 0 40px;
    font-weight: 700;
    font-size: 100px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }

  /*インスタ兼マップ*/
  .embed-title{
    margin: 20px 0 20px 0;
  }
  .embed-title p{
    font-size: 40px;
  }
.spot2{
  display:none;
}
.copy{
  margin-top: 20px;
  padding: 20px;
}

/***プロフィール***/

/*カラム*/
.three-column{
  margin-bottom: 72px;
}
.read a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.read a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  opacity: 1;
  visibility: visible;
  transition: .1s;
}
.read a:hover::after {
  bottom: -4px;
  opacity: 0.5;
  visibility: hidden;
}
.document p{
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0 15px 0;
}
.document{
  margin-bottom: 30px;
}

.document img{
  width: 400px;
  height: 400px;
}

/*スマホ*/
@media (max-width:769px) {
  .spot{
    display: none;
  }
  .spot2{
    display: block;
    text-align: center;
  }
}
.embed-title p{
  font-size: 20px;
}





  /*ipad*/
@media screen and (min-width:768px) and ( max-width:1022px) {
 h1{
   font-size: 50px;
 }
 .embed-title p{
  font-size: 40px;
}
}
